 /* Cadmiel Torres de Lima */

 body {
   font-family: Arial, sans-serif;
 }

 .task-list {
   max-width: 300px;
   margin: auto;
 }

 .task {
   background: #f4f4f4;
   margin: 5px;
   padding: 10px;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .task.completed {
   text-decoration: line-through;
   color: #aaa;
 }

 .remove-btn {
   background-color: red;
   color: white;
   border: none;
   border-radius: 5px;
   padding: 5px 10px;
   cursor: pointer;
 }