 /* Cadmiel Torres de Lima */

 body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
 }

 #myButton {
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   transition-duration: 0.4s;
   cursor: pointer;
 }

 #myButton:hover {
   background-color: #45a049;
 }

 @keyframes grow {
   0% {
     transform: scale(1);
   }

   50% {
     transform: scale(1.5);
   }

   100% {
     transform: scale(1);
   }
 }