 /* Cadmiel Torres de Lima */

 body {
     font-family: Arial, sans-serif;
 }

 #bookingForm {
     margin: 0 auto;
     width: 300px;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 10px;
 }

 #bookingForm label {
     display: block;
     margin-bottom: 10px;
 }

 #bookingForm input {
     width: 100%;
     padding: 10px;
     margin-bottom: 20px;
     border-radius: 5px;
     border: 1px solid #ccc;
 }

 #bookingForm button {
     padding: 10px 20px;
     background-color: #007BFF;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 #bookingForm button:hover {
     background-color: #0056b3;
 }